.header-search {
  margin: auto 30px;
  width: 240px;
}

.header-search input {
  padding: 2px 7px;
  border: 1px solid #545454;
  border-radius: 7px;
  background: #000 !important;
  outline: none;
  color: #efebeb;
  font-size: 11pt;
  width: 100%;
}

@media (max-width: 768px) {
  .header-search {
    order: 1;
    width: 100%;
  }
  .header-search input {
    width: 90%;
  }
}
