.player-playing {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  font-size: 10pt;
}

.player-playing > div {
  margin: auto;
  margin-left: 5px;
  text-align: center;
}

.player-playing button {
  border: 0;
  background: none;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px 10px;
}

.player-playing button:focus {
  outline:0;
}

.player-playing button:active {
  background: #2f2e2e;
}

.player-playing button.disabled {
  color: #757575;
}

.playing-info {
  font-size: 12pt;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playing-info p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.playing-info .info-music {
  font-weight: bold;
}

@media (max-width: 768px) {
  .player-playing {
    width: 100%;
  }
  .playing-info {
    width: 100%;
  }
}
