.player-menu {
  margin: auto 10px auto 0;
  font-size: 16pt;
}

.player-menu a {
  border: 0;
  background: none;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px 7px;
}

.player-menu a.active {
  border-bottom: 3px #0aa979 solid;
}

.player-menu a:focus {
  outline:0;
}

.player-menu a:active {
  background: #464545;
}

.player-menu .menu-square {
  background-color: #00fcb1;
  border-radius: 2px;
  color: #000;
  font-size: 12pt;
}

.player-menu .menu-square:active {
  background: #0aa979;
}

@media (max-width: 768px) {
  .player-menu {
    font-size: 13pt;
  }
}
