.app {
  font-family: 'Ubuntu', sans-serif;
}

.app-container {
  margin: 50px auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .app-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .app-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .app-container {
    width: 1170px;
  }
}
