.playing-volume {
  width: 33px;
}
.volume-wrapper {
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  position: absolute;
  padding: 5px 15px;
  margin-left: 25px;
  top: 22px;
  width: 110px;
  z-index: 10;
  border-radius: 10px;
  background: #3c3e3e;
}
.playing-volume:hover .volume-wrapper {
  visibility: visible;
}
.volume-wrapper .rangeslider {
  margin: 0;
  margin: 6px 0;
  background: #2f2f2f;
  height: 7px;
}
.volume-wrapper .rangeslider__fill  {
  background-color: #fff!important;
}

.volume-wrapper .rangeslider__handle:after {
  display: none;
}

.volume-wrapper .rangeslider__handle {
  display: none!important;
  width: 14px!important;
  height: 14px!important;
  border-radius: 8px!important;
  top: -5px!important;
  margin-left: -7px;
}

.volume-wrapper:hover .rangeslider__fill {
  background-color: #00fcb1!important;
}

.volume-wrapper:hover .rangeslider__handle {
  display: block!important;
}

@media (max-width: 768px) {
  .volume-wrapper {
    display: none;
  }
}
